body {
  font-family: "Montserrat";
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
}
.img-book {
  height: 60px;
  width: 60px;
  padding-right: 15px;
}
.img-card {
  height: 30px;
}
h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

h2 {
  display: flex;

  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.headertext {
  margin-bottom: 40px;
}
.closeBtn {
  border: none;
  background: none;
  font-size: 16px;
}
.closeBtn:hover {
  text-shadow: 1px 0px 10px;
  color: red;
}
.divBtn {
  display: flex;
  flex-direction: row-reverse;
}
.btn-newBook,
#submit {
  font-family: "Libre Baskerville", serif;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 17px;
  font-weight: bold;
  background-color: white;
}
.btn-newBook:hover {
  transform: scale(1.01);
}

.modal {
  background-color: white;
  width: 400px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.bookborder {
  padding: 15px;
}
.btn-delete {
  border: none;
  background: none;
  font-size: 16px;
}
.btn-delete:hover {
  text-shadow: 1px 0px 10px;
  color: red;
}

.btn-divdelete {
  display: flex;
  flex-direction: row-reverse;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 16px;
  text-align: left;
  background-image: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80;");
  background-color: white;
}
.card:hover {
  transform: scale(1.005);
}

.hasRead {
  color: green;
}
.hasReadNo {
  color: red;
}
ul,
li {
  display: flex;
  list-style-type: none;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
label {
  margin-bottom: 10px;
}

/* one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
