body {
  font-family: "Montserrat";
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
}
.img-book {
  height: 60px;
  width: 60px;
}
.img-card {
  height: 30px;
}
h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.headertext {
  margin-bottom: 40px;
}

.btn-newBook {
  font-family: "Libre Baskerville", serif;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 17px;
  font-weight: bold;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.bookborder {
  padding: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 16px;
  text-align: left;
  background-image: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80;");
  background-color: white;
}

/* one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
